@tailwind components;

@layer components {
  .row {
    @apply border-b border-b-gray-200 hover:bg-gray-50
    dark:border-b-gray-700 dark:hover:bg-gray-800;
  }
}

thead .row:hover {
  @apply bg-transparent;
}

.cell {
  padding: 0.75rem 0.5rem;
  text-align: left;
}

.row .cell:first-child {
  padding-left: 1rem;
}

.row .cell:last-child {
  padding-right: 1rem;
}
